access_control:
  default_policy: deny
  rules:
    - domain:
      - "{{ authelia_links.domain }}"
      - "{{ authelia_links.domain_2 }}"
      - "{{ authelia_links.domain_3 }}"
      - "{{ bibliography.domain }}"
      - "{{ family_trees[0].domain }}"
      - "{{ family_trees[1].domain }}"
      - "{{ ghost_sites[0].domain }}"
      - "{{ ghost_sites[0].domain_www }}"
      - "{{ ghost_sites[1].domain }}"
      - "{{ ghost_sites[1].domain_www }}"
      - "{{ kaleidoscope.domain }}"
      policy: bypass
    - domain:
      - "{{ filebrowser.domain }}"
      resources:
        - "^/health.*"
        - "^/share/.*"
        - "^/api/public/.*"
        - "^/static/.*"
      policy: bypass
    - domain:
      - "{{ ghost_sites[0].domain }}"
      - "{{ ghost_sites[1].domain }}"
      resources:
        - "^/ghost/.*"
      policy: two_factor
    - domain:
      - "{{ adminer.domain }}" 
      - "{{ filebrowser.domain }}"
      - "{{ traefik_links.name.link }}"
      policy: two_factor

session:
  cookies:
  - domain: "{{ default.domain }}"
    authelia_url: "{{ authelia_links.url }}"
  - domain: "{{ ghost_sites[0].domain }}"
    authelia_url: "{{ authelia_links.url_2 }}"
  - domain: "{{ ghost_sites[1].domain }}"
    authelia_url: "{{ authelia_links.url_3 }}"

{% include 'storage_tls.yml.j2' %}
