apiVersion: 1

datasources:
  - name: InfluxDB
    type: influxdb
    uid: influxdb
    access: proxy
    url: http://influxdb:8086
    isDefault: true
    editable: false
    jsonData:
      version: Flux
      organization: "{{ influxdb.organization }}"
      defaultBucket: "{{ influxdb.bucket }}"
      tlsSkipVerify: false
    secureJsonData:
      token: "{{ influxdb.api_token }}"

  - name: InfluxDB-Proxmox
    type: influxdb
    uid: influxdb-proxmox
    access: proxy
    url: http://influxdb:8086
    editable: false
    jsonData:
      version: Flux
      organization: "{{ influxdb.organization }}"
      defaultBucket: proxmox
      tlsSkipVerify: false
    secureJsonData:
      token: "{{ influxdb.api_token }}"

  - name: InfluxDB-pfSense
    type: influxdb
    uid: influxdb-pfsense
    access: proxy
    url: http://influxdb:8086
    editable: false
    jsonData:
      version: Flux
      organization: "{{ influxdb.organization }}"
      defaultBucket: pfsense
      tlsSkipVerify: false
    secureJsonData:
      token: "{{ influxdb.api_token }}"

  - name: Loki
    type: loki
    uid: loki
    access: proxy
    url: http://loki:3100
    editable: false
    jsonData:
      maxLines: 1000
