{
    {% if docker_storage_driver is defined %}"storage-driver": "{{ docker_storage_driver }}",{% endif %}
    "metrics-addr": "{{ docker.metrics_addr }}",
    "experimental": true,
    "dns": ["{{ docker.dns }}", "1.1.1.1", "8.8.8.8"],
    "dns-opts": ["timeout:2", "attempts:2"],
    "log-driver": "json-file",
    "log-opts": {
        "max-size": "50m",
        "max-file": "5"
    },
    "live-restore": true
}
